.format {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gap;

  &__info, &__desc {
    display: flex;
    gap: $gap;
  }

  &__info {
    @media (max-width: $small) {
      flex-direction: column;
    }
  }

  &__desc {
    flex-direction: column;
  }

  &__structure {
    display: flex;
    flex-direction: column;
    gap: $gap;
    width: 60%;

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &__example {
    display: flex;
    flex-direction: column;
    gap: $gap;
    text-align: center;
    max-height: 190px;

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &__img-wrapper {
    @include all-cent;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}