@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}

.container {
  width: 1170px;
  margin: auto;
}

ul {
  padding: 0 0 0 20px;
  margin: 0;
}

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}

svg {
  width: 218px;
  height: auto;
}

th, td {
  background: #3f3f3f33;
  border-spacing: none;
}

th {
  border: 1px solid #3f3f3f77;
  text-align: center;
  padding: $table-gap;
}

select {
  width: 200px;
  height: 40px;
  @include tag-settings;
  transition: 1s ease;
}

input {
  height: 40px;
  @include tag-settings;
  transition: 1s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label::after {
  content: '';
  background: url('./assets/img/check.png') center no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0; left: 7px;
}

label {
  padding-left: 20px;
  position: relative;
  transition: $transition;
  cursor: pointer;
}

label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: -$margin;
  margin-right: $margin;
  border-radius: $br-rad;
  background-color: rgb(255, 255, 255);
}

select:hover, input:hover, button:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}