.layout {
  position: relative;
  display: flex;

  &__form, &__barcode {
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 75%;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;
  }

  &__tab {
    @include all-cent;
    position: relative;
    width: 80%;
    @include glass-effect;
    cursor: pointer;
    margin: 15px 0;
    border-radius: $br-rad 0 0 $br-rad;
    transition: width $transition;

    h3 {
      transition: $transition;
      border-radius: $br-rad;
      padding: 15px;
    }
  }

  &__tab-active {
    border-right: none;
    width: 100%;
    h3 {
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    }
  }

  &__tab-content {
    display: flex;
    justify-content: space-around;
    margin: $margin 0;
    padding: 15px;
    width: 75%;
    @include glass-effect;
    border-radius: 0 $br-rad $br-rad 0;
    border-left: none;
    transition: $transition;

    table {
      border-spacing: none;
      border-radius: $br-rad;
      height: 100%;
    }

    th {
      border-radius: $br-rad $br-rad 0 0;
    }

    td {
      border-radius: 0 0 $br-rad $br-rad;
      height: 100%;
      padding: $table-gap;
    }

    p, h3 {
      margin: 0;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: $gap;
  }

  &__info-wrapper-row {
    display: flex;
    justify-content: space-around;
    gap: $gap;
  }

  &__user-sec {
    display: flex;
    flex-direction: column;
    gap: $gap;

    button {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $gap;
  }

  &__settings {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: $gap;
  }

  &__live-example {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: $gap;
    text-align: center;
  }

  &__barcode {
    width: 25%;
    margin: $margin;
    position: relative;
    flex-direction: column;

    h3 {
      margin: 0;
    }
  }

  &__barcode-container {
    @include glass-effect;
    @include all-cent;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    table {
      margin: 15px 15px 14px 15px;
      display: block;
      border-spacing: none;
      border-radius: $br-rad;
    }

    th:nth-child(1) {
      border-radius: $br-rad 0 0 0;
    }
    
    th:nth-child(2) {
      border-radius: 0 $br-rad 0 0;
    }
    
    tr:last-child td:nth-child(1) {
      border-radius: 0 0 0 $br-rad;
    }
    
    tr:last-child td:nth-child(2) {
      border-radius: 0 0 $br-rad 0;
    }
  }

  &__table-container {
    display: block;
    max-height: 100%;
  }
}