.layout {
  position: relative;
  display: flex;
  justify-content: center;
  
  @media (max-width: $large) {
    flex-wrap: wrap;
  }

  &__form, &__barcode {
    display: flex;
    justify-content: center;
  }

  &__form {
    width: 75%;

    @media (max-width: $large) {
      width: 90vw;
    }

    @media (max-width: $extra-medium) {
      flex-direction: column;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 25%;

    @media (max-width: $extra-medium) {
      flex-direction: row;
      width: 100%;
      margin: 15px 0 0 0;
    }

    @media (max-width: $medium) {
      gap: $gap;
    }

    @media (max-width: $small) {
      gap: 0;
    }
  }

  &__tab {
    @include all-cent;
    position: relative;
    width: 80%;
    @include glass-effect;
    cursor: pointer;
    margin: $margin 0;
    border-radius: $br-rad 0 0 $br-rad;
    transition: all $transition;

    &:hover {
      width: 85%;
      background: linear-gradient(90deg, rgba(0, 119, 73, 0.7) 10%, rgba(255,255,255,0.2) 100%);
    }

    h3 {
      transition: $transition;
      border-radius: $br-rad;
      padding: 15px;
    }

    @media (max-width: $extra-medium) {
      width: 100%;
      height: 80%;
      margin: $margin 0 0 0;
      transition: height $transition;
      border-radius: $br-rad $br-rad 0 0;

      &:hover {
        width: 100%;
        height: 85%;
        background: linear-gradient(90deg, rgba(0, 119, 73, 0.7) 10%, rgba(255,255,255,0.2) 100%);
      }

      h3 {
        padding: 0;
      }
    }
  }

  &__tab-active {
    width: 100%;
    transition: all $transition;
    background: linear-gradient(90deg, $sColor 10%, rgba(255,255,255,0.2) 100%);

    &:hover {
      width: 100%;
      background: linear-gradient(90deg, rgba(0, 119, 73, 0.7) 10%, rgba(255,255,255,0.2) 100%);
    }

    @media (max-width: $extra-medium) {
      height: 100%;
      background: linear-gradient(180deg, $sColor 10%, rgba(255,255,255,0.2) 100%);

      &:hover {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 119, 73, 0.7) 10%, rgba(255,255,255,0.2) 100%);
      }
    }
  }

  &__tab-content {
    display: flex;
    justify-content: space-around;
    margin: $margin 0;
    padding: 15px;
    width: 75%;
    @include glass-effect;
    border-radius: 0 $br-rad $br-rad 0;
    transition: $transition;

    @media (max-width: $extra-medium) {
      margin: 0 0 $margin 0;
      width: auto;
      border-radius: 0 $br-rad $br-rad 0;
      border-radius: 0 0 $br-rad $br-rad;
      height: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $gap;
    transition: $transition;

    table {
      border-spacing: none;
      border-radius: $br-rad;
      height: 100%;
    }

    th {
      border-radius: $br-rad $br-rad 0 0;
    }

    td {
      border-radius: 0 0 $br-rad $br-rad;
      height: 100%;
      padding: $table-gap;
    }

    p, h3 {
      margin: 0;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: $gap;
    transition: $transition;
  }

  &__info-wrapper-row {
    display: flex;
    justify-content: space-around;
    gap: $gap;

    @media (max-width: $small) {
      flex-direction: column;
    }
  }

  &__user-sec {
    display: flex;
    flex-direction: column;
    gap: $gap;

    button {
      width: 100%;
    }
  }

  &__live-example {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: $gap;
    text-align: center;

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &__settings {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: $gap;

    @media (max-width: $small) {
      width: 100%;
    }
  }

  &__barcode {
    width: 25%;
    margin: $margin;
    position: relative;
    flex-direction: column;

    h3 {
      margin: 0;
    }

    @media (max-width: $large) {
      height: 90vh;
      width: 90vw;
      margin: 0 0 $margin 0;
    }
  }

  &__barcode-container {
    @include glass-effect;
    @include all-cent;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    table {
      margin: 15px 15px 14px 15px;
      display: block;
      border-spacing: none;
      border-radius: $br-rad;
    }

    th:nth-child(1) {
      border-radius: $br-rad 0 0 0;
    }
    
    th:nth-child(2) {
      border-radius: 0 $br-rad 0 0;
    }
    
    tr:last-child td:nth-child(1) {
      border-radius: 0 0 0 $br-rad;
    }
    
    tr:last-child td:nth-child(2) {
      border-radius: 0 0 $br-rad 0;
    }
  }

  &__table-container {
    display: block;
    max-height: 100%;
  }
}