._ {
  &small-text {
    display: flex;

    p {
      font-weight: bold;
      margin: 0;
      color: red;
    }
  }

  &row {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    align-items: center;
  }

  &column {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  
  &img-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &img-layout:nth-child(1),
  &img-layout:nth-child(3) {
    width: 40%;
  
    img {
      width: 90%;
    }
  }
  
  &img-layout:nth-child(2) {
    width: 30%;
    img {
      width: 60%;
    }
  }

  &step {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #3a3a3a77;
    transition: $transition;
  }
  
  &space {
    height: 1px;
  }

  &not-gen {
    margin: $margin;
  }
  
  &btn {
    height: 40px;
    border-radius: $br-rad;
    border: none;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    transition: $transition;
  }
  
  &select-wrapper {
    width: 100%;
  }
  
  &text {
    width: calc(100% - 30px);
  }
  
  &format-group {
    display: flex;
    width: 100%;
    gap: 15px;
  }

  &input-wrapper {
    width: auto;
    @include all-cent;
    input {
      width: 100%;
    }
  }

  &button-wrapper {
    width: 100%;
  }

  &input-wrapper:nth-child(1) {
    width: 35%;
  }

  &input-wrapper:nth-child(2) {
    width: 50%;
  }

  &input-wrapper:nth-child(3) {
    width: auto;
  }

  &img-wrapper {
    @include all-cent;

    img {
      display: block;
      max-height: 120px;
      max-width: 100%;
      border-radius: $br-rad;
    }
  }
}