@import './variables';
@import './mixins';
@import './globalStyles';

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: $container-width;
  margin: auto;
  box-sizing: border-box;

  & ._link {
    margin: $margin 0 0 $margin;
  }
}

._link {
  @include all-cent;
  text-decoration: none;
  text-align: center;
  color: black;
  @include glass-effect;
  transition: $transition;

  & ._img-wrapper {
    img {
      max-height: 20px;
    }
  }

  h3 {
    padding-right: $margin;
  }

  &:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background: rgba(255,255,255,0.3);
  }

  img {
    margin: $margin;
    max-height: 20px;
    width: auto;
  }
}

._small-text {
  display: flex;

  p {
    font-weight: bold;
    margin: 0;
    color: red;
  }
}

._mark {
  border-left: 5px solid $sColor;
  padding-left: $gap;
}

._or {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    background-color: $sColor;
    margin-left: -140px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    background-color: $sColor;
    margin-right: -140px;
  }
}

._row {
  display: flex;
  justify-content: space-between;
  gap: $gap;
  align-items: center;

  @media (max-width: $small) {
    flex-direction: column;
  }
}

._column {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

._img-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

._img-layout:nth-child(1),
._img-layout:nth-child(3) {
  width: 40%;

  img {
    width: 90%;
  }
}

._img-layout:nth-child(2) {
  width: 30%;
  img {
    width: 60%;
  }

  @media (max-width: $small) {
    img {
      width: 80%;
    }
  }
}

._step {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  font-size: 1.4em;
  font-weight: bold;
  color: #3a3a3a77;
  transition: $transition;

  @media (max-width: $medium) {
    font-size: 1em;
  }
}

._space {
  height: 1px;
}

._not-gen {
  margin: $margin;
}

._btn {
  height: 40px;
  border-radius: $br-rad;
  border: none;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  transition: $transition;
}

._select-wrapper {
  width: 100%;
}

._text {
  width: calc(100% - 30px);
}

._format-group {
  display: flex;
  width: 100%;
  gap: 15px;

  @media (max-width: $extra-medium) {
    flex-direction: column;
  }
}

._input-wrapper {
  width: auto;
  @include all-cent;

  input {
    width: 100%;
  }
}

._button-wrapper {
  width: 100%;

  button {
    width: 100%;
  }
}

._input-wrapper:nth-child(1) {
  width: 35%;
}

._input-wrapper:nth-child(2) {
  width: 50%;
}

._input-wrapper:nth-child(3) {
  width: auto;
}

._input-wrapper:nth-child(1),
._input-wrapper:nth-child(2),
._input-wrapper:nth-child(3) {
  @media (max-width: $medium) {
    width: 100%;
  }
}

._img-wrapper {
  @include all-cent;

  img {
    display: block;
    max-height: 115px;
    max-width: 100%;
    border-radius: $br-rad;
  }

  svg {
    border-radius: $br-rad;
    max-width: 100%;
    height: auto;
    margin: $margin;
  }
}
