@import './variables';

@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}

@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

@mixin all-cent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tag-settings {
  border-radius: $br-rad;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0 15px;
}

@mixin glass-effect {
	border: 1px solid rgba(255,255,255,0.25);
	border-radius: $br-rad;
	border-top: 1px solid rgba(255,255,255,0.5);
	background: rgba(255,255,255,0.2);
	backdrop-filter: blur(10px);
}