@import './variables';

@mixin tag-settings {
  border-radius: $br-rad;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 0 15px;
}

@mixin all-cent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin glass-effect {
	border-radius: $br-rad;
	background: rgba(255,255,255,0.2);
	backdrop-filter: blur(10px);
}