$br-rad: 10px;
$margin: 15px;
$transition: 0.5s ease;
$gap: 15px;
$table-gap: 10px;
$container-width: 1170px;
$mColor: #00dc9e;
$sColor: #007749;
$minWidth: 320;
$maxWidth: 1920;
$large: 1200px;
$medium: 900px;
$extra-medium: 720px;
$small: 600px;
$extra-small: 500px;