@import './base.module.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@700&display=swap');

body {
  background-color: var(--bg-c);
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--txt-c);
}

h1, h2, h3, h4, p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

th, td {
  background: var(--wrapper-c-h);
  border-spacing: none;
  text-align: center;
  padding: var(--space);
}

p {
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.1;
}

small {
  color: var(--txt-c-h);
  text-transform: uppercase;
}

a, a:visited {
  text-decoration: none;
  color: var(--txt-c);
}

svg {
  fill: var(--txt-c);
  transition: all 0.5s ease;
}

svg:hover {
  fill: var(--txt-c-h);
}

input[type="text"] {
  border-radius: var(--br-rad);
  outline: none;
  padding: var(--space);
  border: none;
  color: var(--txt-c);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--wrapper-c);
  transition: var(--transition);

  &:hover {
    background-color: var(--wrapper-c-h);
  }
}

input[type="checkbox"], input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
  transition: var(--transition);
}

label::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: var(--space);
  border-radius: var(--br-rad);
  background-color: var(--wrapper-c);
  cursor: pointer;
}

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}

._container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

._wrapper {
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  box-sizing: border-box;
  gap: calc(var(--space) * 3);
}

._column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space);
}

._row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space);
}

._btn {
  text-align: center;
  background-color: var(--accent-c);
  padding: var(--space);
  border-radius: calc(var(--br-rad) * 2);
  transition: var(--transition);
  cursor: pointer;
  box-sizing: border-box;

  small {
    color: var(--dark-txt-c-h) !important;
  }

  &:hover {
    background-color: var(--accent-c-h);
  }
}

._svg-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

._disabled {
  filter: contrast(0.5);
  cursor: default;
  pointer-events: none;
}

._cb-wrapper {
  position: relative;

  svg {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    pointer-events: none;
  }
}
