@import './base.module.css';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@700&display=swap');

body {
  background-color: var(--bg-c);
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--txt-c);
}

h1, h2, h3, h4, p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.1;
}

a, a:visited {
  text-decoration: none;
  color: var(--txt-c);
}

svg {
  fill: var(--txt-c);
  transition: all 0.5s ease;
}

svg:hover {
  fill: var(--txt-c-h);
}

::selection {
  background-color: #4f13af33;
}

::-webkit-scrollbar {
  display: none;
}

._container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

._wrapper {
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  box-sizing: border-box;
  gap: calc(var(--space) * 3);
}

._column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space);
}

._row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space);
}
