@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import 'base.css';
@import 'ui.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--bg);
  font-family: 'Montserrat';
  color: var(--txt-m);
}

::selection {
  background-color: rgba(48, 213, 200, 0.7);
}

::-webkit-scrollbar {
  display: none;
}

.main {
  &-enter-from {
    opacity: 0;
  }
  &-enter-active {
    transition: all 0.2s ease-out;
  }
  &-leave-to {
    opacity: 0;
  }
  &-leave-active {
    transition: all 0.2s ease-in;
  }
}

._container {
  max-width: 80rem;
  margin: auto;
  padding: 0 2rem;

  @media (max-width: $lg) {
    padding: 0 1.5rem;
  }

  @media (max-width: $md) {
    padding: 0 1rem;
  }
}

._wrapper {
  margin: 9rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;

  @media (max-width: $sm) {
    margin: calc(toRem(57) + 4rem) auto 2rem auto;
    gap: 4rem;
  }
}

._center {
  display: flex;
  justify-content: center;
  align-items: center;
}

._row {
  display: flex;
  align-items: center;
  gap: var(--space);
}

._s-row {
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
}

._grid {
  display: grid;
  gap: var(--space);
}

._column {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

._s-column {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) / 2);
}

._disabled {
  pointer-events: none;
  filter: brightness(0.5);
}

._ui {
  transition: background-color 0.5s ease;
  padding: var(--space);
  border-radius: var(--br-rad);
  background-color: var(--fg-m);
  border: toRem(1) solid var(--br);

  &:hover {
    background-color: var(--fg-s);
  }
}