@function toRem($value) {
  @return calc($value / 16) + rem; 
}

@mixin action-styles {
  font-family: 'Montserrat';
  padding: 0 var(--space);
  height: toRem(40);
  border-radius: var(--br-rad);

  &:hover, &:focus {
    border-color: var(--s-h);
  }
}

$lg: toRem(900);
$md: toRem(768);
$sm: toRem(640);