header {
  font-weight: bold;
  font-size: 1.5rem;
}

small {
  font-weight: bold;
}

h1 {
  line-height: 1;
  font-size: toRem(72);

  @media (max-width: $lg) {
    font-size: toRem(60);
  }

  @media (max-width: $md) {
    font-size: toRem(48);
  }

  @media (max-width: $sm) {
    line-height: 1;
  }

  @media (max-width: $zf) {
    font-size: toRem(34);
  }
}

h2 {
  &.lg {
    line-height: 1;
    font-size: toRem(48);

    @media (max-width: $lg) {
      font-size: toRem(36);
    }

    @media (max-width: $md) {
      font-size: toRem(30);
    }
  }

  &.md {
    font-size: toRem(30);

    @media (max-width: $lg) {
      font-size: toRem(24);
    }

    @media (max-width: $md) {
      font-size: toRem(18);
    }
  }
}

h4 {
  @media (max-width: $zf) {
    font-size: 0.8rem;
  }
}

p {
  &.bg {
    font-size: toRem(20);

    @media (max-width: $sm) {
      font-size: toRem(18);
    }

    @media (max-width: $zf) {
      font-size: toRem(16);
    }
  }

  &.wp {
    font-size: toRem(18);

    @media (max-width: $md) {
      font-size: toRem(16);
    }
  }
}

svg {
  width: 100%;
  transition: var(--tr);
  height: 100%;
  fill: var(--txt-m);
}

._i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: toRem(25);
  height: toRem(25);

  &.sm {
    width: toRem(16);
    height: toRem(16);
  }

  &.lg {
    width: toRem(50);
    height: toRem(50);
  }

  &.mx {
    width: toRem(80);
    height: toRem(80);
  }
}

._btn {
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  align-items: center;
  @include action-styles;
  background-color: var(--txt-m);
  color: var(--fg-m) !important;
  gap: var(--space-m);
  transition: var(--tr);
  border: toRem(1) solid var(--br);

  svg {
    fill: var(--fg-m);
  }

  &:hover,
  &:focus {
    background-color: var(--txt-s);
  }
}

._i-btn {
  width: toRem(25);
  height: toRem(25);
  position: relative;

  button {
    background: none;
    width: 100%;
    height: 100%;
    padding: 0;
    cursor: pointer;

    svg {
      width: 100%;
      fill: var(--txt-m);
      transition: var(--tr);
      height: 100%;
    }

    &:hover,
    &:focus {
      svg {
        fill: var(--m);
      }
    }
  }
}

a {
  cursor: pointer;
  transition: var(--tr);

  &:visited {
    color: var(--txt-m);
  }

  &.text {
    transition: var(--tr);

    &.bold {
      font-weight: bold;
      font-size: toRem(20);
    }

    &:hover,
    &:focus {
      color: var(--m);
    }
  }

  &.icon {
    &:hover,
    &:focus {
      color: var(--m);

      svg {
        fill: var(--m);
      }
    }
  }
}

input[type="text"] {
  @include action-styles;
  font-size: 1rem;
  background-color: var(--fg-m);
  transition: var(--tr);
  color: var(--txt-m);
  border: toRem(1) solid var(--br);
}
